.HomePage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Chewy&display=swap');

.hero-text{
    color: white;
    text-align: center;
    font-size: 3.6rem;
    margin-bottom: 1rem;
    span{
        color: #aff806;
        span{
            font-size: 4rem; 
            font-family: 'Chewy', cursive;    
        }
        span:hover{
            display:inline-block;
            cursor: pointer;

            -webkit-animation: jello-horizontal 0.9s both;
            animation: jello-horizontal 0.9s both;
        }
        @keyframes jello-horizontal {

            0% {
                -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
            }
            30% {
                -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
            }
            40% {
                -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
            }
            50% {
                -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
            }
            65% {
                -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
            }
            75% {
                -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
            }
            100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }
        @-webkit-keyframes jello-horizontal {

            0% {
                -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
            }
            30% {
                -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
            }
            40% {
                -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
            }
            50% {
                -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
            }
            65% {
                -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
            }
            75% {
                -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
            }
            100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }
    }
    
}

.h-sub-text{
    text-align: center;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    .icon-holder{
        position: relative;
        background-color: #323232a8;
        border-radius: 50%;
        padding: 15px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0 8px 0 rgba(102, 137, 80, 0.707);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        .icon{
            //padding: 1rem;
            color: #aff806;
        }
        .tooltip{
            position: absolute;
            top: 0;
            font-size: 14px;
            background-color: #ffffff;
            color: #ffffff;
            padding: 5px 8px;
            border-radius: 5px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .tooltip::before {
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            background-color: #ffffff;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }

    .icon-holder:hover{
        .tooltip {
            top: -45px;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
        }
        .icon{
            color: #ffffff;
            //text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
        }
    }
    .fb:hover,
    .fb:hover .tooltip,
    .fb:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
    }

    .gh:hover,
    .gh:hover .tooltip,
    .gh:hover .tooltip::before {
    background-color: #6e5494;
    color: #ffffff;
    }
    
    .tw:hover,
    .tw:hover .tooltip,
    .tw:hover .tooltip::before {
    background-color: #1DA1F2;
    color: #ffffff;
    }

    .yt:hover,
    .yt:hover .tooltip,
    .yt:hover .tooltip::before {
    background-color: red;
    color: #ffffff;
    }

    .tg:hover,
    .tg:hover .tooltip,
    .tg:hover .tooltip::before {
    background-color: #0088cc;
    color: #ffffff;
    }
    
}