/*
  --bg: #000000;
  --sidebar: #0f0f0f;
  --main-blue-color: #aff806;
  --main-border-color: #384e2e;
  --font-color: #b5c4a4;
    "@fortawesome/fontawesome-svg-core"
    "@fortawesome/free-brands-svg-icons"
    "@fortawesome/free-solid-svg-icons"
    "@fortawesome/react-fontawesome"
*/